<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @creation.title %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @creation.created_by %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @creation.published_at %>
</p>

<%= link_to 'Edit', edit_creation_path(@creation) %> |
<%= link_to 'Back', creations_path %>
