<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @piece.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @piece.image_id %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @piece.thumbnail_id %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
